<main>
  <div class="wrapper">
    <h1 class="no-select">MPG Calculator</h1>
    <h4 class="no-select">
      How to use: Enter how big your gasoline tank is, and drive until its time to refuel.
      Enter the distance you made until it was time to refuel.
    </h4>
    <form [formGroup]="form" class="input">
      <input type="number" class="input no-select" formControlName="gallons" placeholder="How many gallons of gas">
      <input type="number" class="input no-select" formControlName="miles" placeholder="How far you drove on a single tank">
    </form>
    <p class="output" id="output">MPG {{ mpg !== null ? mpg : '' }}</p>
  </div>
</main>
